/* MEMPHIS DESIGN - CONTACT SECTION */
.contact.section {
	padding-bottom: 6.25rem;
}

.contact__container {
	grid-template-columns: 4fr 8fr;
	column-gap: 2rem;
}

.contact__info {
	background: var(--memphis-teal);
	padding: 2rem;
	border: var(--border-thick);
	box-shadow: var(--shadow);
	position: relative;
	color: var(--memphis-black);
}

/* Memphis decoration */
.contact__info::before {
	content: '';
	position: absolute;
	top: -15px;
	right: 20px;
	width: 35px;
	height: 35px;
	background: var(--memphis-yellow);
	border: var(--border-medium);
	transform: rotate(15deg);
}

.contact__info::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 30px;
	width: 25px;
	height: 25px;
	background: var(--memphis-pink);
	border: var(--border-medium);
	border-radius: 50%;
}

.contact__title {
	font-size: var(--h3-font-size);
	margin-bottom: 0.75rem;
	font-family: var(--heading-font);
	letter-spacing: 2px;
	color: var(--memphis-black);
}

.contact__form-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.5rem;
}

.contact__form-div {
	position: relative;
	margin-bottom: 1.875rem;
	height: 3.75rem;
}

.contact__form-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--container-color);
	color: var(--text-color);
	border: var(--border-thick);
	box-shadow: var(--shadow-sm);
	outline: none;
	padding: 0.75rem 1.5rem;
	z-index: 1;
	transition: all 0.2s ease;
	font-family: var(--body-font);
}

.contact__form-input:focus {
	transform: translate(-3px, -3px);
	box-shadow: 9px 9px 0px var(--memphis-black);
	border-color: var(--memphis-pink);
}

.contact__form-input::placeholder {
	color: var(--text-color);
	font-weight: var(--font-medium);
}

.disable_contact__form-input {
	background-color: var(--disabled-color);
	color: rgb(99, 99, 99);
}

.contact__form-area {
	height: 10.25rem;
}

.contact__form-area textarea {
	padding: 1.5rem;
	resize: none;
}

@media screen and (max-width: 1024px) {
	.contact__container {
		grid-template-columns: 300px 360px;
		justify-content: center;
		row-gap: 2rem;
	}
	.contact__form-group {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 768px) {
	.contact__container {
		grid-template-columns: 310px;
		row-gap: 2rem;
	}

	.contact__info {
		text-align: center;
	}
}

@media screen and (max-width: 350px) {
	.contact__container {
		grid-template-columns: 1fr;
	}
}
