.theme-toggle {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 999;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--container-color);
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  transform: translateY(-3px);
}

.theme-toggle svg {
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  .theme-toggle {
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
  }
}
